<style type="text/css">
    #schedulepicker {
        padding-top:7px;
    }
</style>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="title" class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="title" name="row[title]" value="{$row.title}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="cid" class="control-label col-xs-12 col-sm-2">{:__('CateType')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="cid" data-rule="required" class="form-control selectpicker" name="row[cid]">
                {foreach name="categoryList" item="vo"}
                <option data-type="{$vo.type}" value="{$key}" {in name="key" value="$row.cid"}selected{/in}>{$vo.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="introduction" class="control-label col-xs-12 col-sm-2">{:__('Introduction')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control" id="introduction" name="row[introduction]" data-rule="required" rows="5">{$row.introduction}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="c-thumb" class="control-label col-xs-12 col-sm-2">{:__('Thumb')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline">
                <input id="c-thumb" class="form-control" size="50" name="row[thumb]" type="hidden" value="{$row.thumb}">
                <span style="display:none;"><button id="plupload-image" class="btn btn-danger plupload" data-input-id="c-thumb" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-preview-id="p-thumb"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                <span style="display:none;"><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-multiple="false" data-mimetype="image/*" data-input-id="c-thumb"><i class="fa fa-list-ul"></i> {:__('Choose')}</button></span>
                <ul class="row list-inline plupload-preview" id="p-thumb"></ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="container" class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <script id="container" name="row[content]" type="text/plain">{$row.content}</script>
        </div>
    </div>
    <div class="form-group">
        <label for="c-photo" class="control-label col-xs-12 col-sm-2">{:__('Photo')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline">
                <input id="c-photo" class="form-control" size="50" name="row[photo]" type="hidden" value="{$row.photo}">
                <span style="display:none;"><button id="plupload-image-2" class="btn btn-danger plupload" data-multiple="true" data-input-id="c-photo" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-preview-id="p-photo"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                <span style="display:none;"><button type="button" id="fachoose-image-2" class="btn btn-primary fachoose" data-multiple="true" data-mimetype="image/*" data-input-id="c-photo"><i class="fa fa-list-ul"></i> {:__('Choose')}</button></span>
                <ul class="row list-inline plupload-preview" id="p-photo"></ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['1'=>__('Normal'), '0'=>__('Hidden')],$row['status'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Others')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_multi_checkboxs([['name'=>'row[is_top]','list'=>['1'=>__('Top')],'selected'=>$row['is_top']],['name'=>'row[is_recommend]','list'=>['1'=>__('Recommend')],'selected'=>$row['is_recommend']]])}
        </div>
    </div>

    <div class="form-group hide layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="button" class="btn btn-default btn-embossed" onClick="closeLayerWin(this)">{:__('Close')}</button>
        </div>
    </div>

</form>
