<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>二维码生成</title>
    <link href="__CDN__/assets/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="__CDN__/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__CDN__/assets/js/html5shiv.js"></script>
    <script src="__CDN__/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            {foreach name="slide" item="vo" key="k"}
            <li data-target="#myCarousel" data-slide-to="{$k}" {if $k eq 0}class="active"{/if}></li>
            {/foreach}
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            {foreach name="slide" item="vo" key="k"}
            <div class="item {if $k eq 0}active{/if}">
                <img src="{$vo.image}" alt="{$vo.name}">
                <div class="carousel-caption">{$vo.name}</div>
            </div>
            {/foreach}
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next">&rsaquo;</a>
    </div>
</body>
</html>