<style type="text/css">
    #schedulepicker {
        padding-top:7px;
    }
</style>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="community_code" class="control-label col-xs-12 col-sm-3">{:__('Community')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="community_code" data-rule="required" class="form-control selectpicker show-tick" name="row[community_code]" data-live-search="true">
                {foreach name="community" item="vo"}
                <option value="{$vo.code}" {in name="vo.code" value="$row.community_code"}selected{/in}>{$vo.name}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="name" class="control-label col-xs-12 col-sm-3">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-6">
            <input type="text" class="form-control" id="name" name="row[name]" value="{$row.name}" data-rule="required" />
        </div>
    </div>

    <div class="form-group">
        <label for="brand" class="control-label col-xs-12 col-sm-3">{:__('Brand')}:</label>
        <div class="col-xs-12 col-sm-6">
            <input type="text" class="form-control" id="brand" name="row[brand]" value="{$row.brand}" data-rule="required" />
        </div>
    </div>

    <div class="form-group">
        <label for="price" class="control-label col-xs-12 col-sm-3">{:__('Price')}（&yen;）:</label>
        <div class="col-xs-12 col-sm-6">
            <input type="text" class="form-control" id="price" name="row[price]" value="{$row.price}" data-rule="required;decimal" />
        </div>
    </div>

    <div class="form-group">
        <label for="quantity" class="control-label col-xs-12 col-sm-3">{:__('Quantity')}:</label>
        <div class="col-xs-12 col-sm-6">
            <input type="text" class="form-control" id="quantity" name="row[quantity]" value="{$row.quantity}" data-rule="required;digits" />
        </div>
    </div>

    <div class="form-group">
        <label for="buy_time" class="control-label col-xs-12 col-sm-3">{:__('BuyTime')}:</label>
        <div class="col-xs-12 col-sm-6">
            <input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" id="buy_time" name="row[buy_time]" value="{$row.buy_time|datetime="Y-m-d"}" data-rule="date" />
        </div>
    </div>

    <div class="form-group">
        <label for="durable_years" class="control-label col-xs-12 col-sm-3">{:__('DurableYears')}（年）:</label>
        <div class="col-xs-12 col-sm-6">
            <input type="text" class="form-control" id="durable_years" name="row[durable_years]" value="{$row.durable_years}" data-rule="required;digits" />
        </div>
    </div>

    <div class="form-group hide layer-footer">
        <label class="control-label col-xs-12 col-sm-3"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="button" class="btn btn-default btn-embossed" onClick="closeLayerWin(this)">{:__('Close')}</button>
        </div>
    </div>

</form>