<style type="text/css">
    #schedulepicker {
        padding-top:7px;
    }
</style>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="community_code" class="control-label col-xs-12 col-sm-2">{:__('Community')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="community_code" data-rule="required" class="form-control selectpicker show-tick" name="community_code" data-live-search="true">
                {foreach name="community" item="vo"}
                <option value="{$vo.code}" {in name="vo.code" value="$pet.member.community_code"}selected{/in}>{$vo.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="member_code" class="control-label col-xs-12 col-sm-2">{:__('Member')}:</label>
        <div class="col-xs-12 col-sm-6">
            <select id="member_code" data-rule="required" class="form-control" name="row[member_id]">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-6">
            <input type="text" class="form-control" id="name" name="row[name]" value="{$row.name}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="color" class="control-label col-xs-12 col-sm-2">{:__('Color')}:</label>
        <div class="col-xs-12 col-sm-6">
            <input type="text" class="form-control" id="color" name="row[color]" value="{$row.color}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="c-thumb" class="control-label col-xs-12 col-sm-2">{:__('Photo')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline">
                <input id="c-thumb" class="form-control" size="50" name="row[photo]" type="hidden" value="{$row.photo}">
                <span><button id="plupload-image" class="btn btn-danger plupload" data-input-id="c-thumb" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-preview-id="p-thumb"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-multiple="false" data-mimetype="image/*" data-input-id="c-thumb"><i class="fa fa-list-ul"></i> {:__('Choose')}</button></span>
                <ul class="row list-inline plupload-preview" id="p-thumb"></ul>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="remark" class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="remark" name="row[remark]" value="{$row.remark}" />
        </div>
    </div>
    <div class="form-group">
        <label for="adopt_time" class="control-label col-xs-12 col-sm-2">{:__('AdoptTime')}:</label>
        <div class="col-xs-12 col-sm-6">
            <input type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" id="adopt_time" name="row[adopt_time]" value="{$row.adopt_time|datetime="Y-m-d"}" data-rule="date" />
        </div>
    </div>
    <div class="form-group hide layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="button" class="btn btn-default btn-embossed" onClick="closeLayerWin(this)">{:__('Close')}</button>
        </div>
    </div>

</form>
<input type="hidden" name="member_id" id="member_id" value="{$row.member_id}" />